[Unit]
Description=Opendata Auto
After=network.target

[Service]
ExecStart=node bot.js
ExecReload=node bot.js
WorkingDirectory=/opt/tg_opendata_auto
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target